body {
    background: rgb(219, 251, 253);
}
.mainHeader {
    color: #093A3E;
}
.sectionHeader, .diaryHeader {
    color: #57737A;
}
.paragraph {
    color: #040F0F;
}
.dziennik {
  
}
.personalSection{
 
}
.link {
color: #57737A;
}
footer {
    color: #040F0F;
}
.weekH3 {
color: #3AAFB9;
}